* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}

.grid_1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 200px 50px 50px 50px;
}

/* button styling */
.button {
  margin-bottom: 2rem;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  margin-top: 3rem;
  font-size: 10px;
  margin-bottom: 2rem;
  text-decoration: none;
  color: rgba(17, 58, 139, 1);
}

.button {
  background-color: rgba(235, 95, 42, 1);
  display: flex;
  width: fit-content;
  padding: 7px 67px 7px 25px;
  border: 1px solid rgb(255, 255, 255);
  align-items: center;
  margin: 0 auto;
  font-family: "Klee One";
  font-size: 16px;
}

.button_logo {
  background-color: rgba(186, 170, 47, 1);
}

.text {
  padding: 20px;
}
.grid_img_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.grid_1_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.galleri {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.top {
  padding: 20px;
}

.galleri_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.link {
  background-color: rgba(235, 95, 42, 1);
  padding: 40px;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  font-family: Klee One;
}

a {
  text-decoration: none;
}

.container1 {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: url(billeder_opdateret/selfie_top.webp);
  background-size: cover;
}
.figma {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  margin: 0;
  padding: 0;
}
.figma iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 200px 50px 50px 50px;
    gap: 20px;
  }
  .grid_img_1 {
    display: inline;
    padding: 20px;
  }
  .grid_1_img {
    display: inline;
    padding: 20px;
  }
  .galleri_1 {
    display: inline;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .underoverskrift {
    font-size: medium;
  }
  .galleri {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .top {
    padding: 0px;
  }
  .generel_main {
    background-color: rgba(186, 170, 47, 1);
    padding: 0%;
    margin: 5%;
  }
}
@media (max-width: 400px) {
  .grid_1_1_1_1 {
    padding: 10px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 16px;
  }
}
