/* menu */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-family: Playwrite US Modern;
  align-items: center;
  padding: 25px;
  background-color: rgba(186, 170, 47, 1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: rgba(17, 58, 139, 1);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: red;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgba(186, 170, 47, 1);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/* style */

body {
  background-image: url(billeder_opdateret/baggrund.svg);
  background-size: cover;
}

.generel_main {
  background-color: rgba(186, 170, 47, 1);
  padding: 40px;
  margin: 100px;
}

h1 {
  font-family: Playwrite US Modern;
  color: white;
  text-align: center;
  font-size: 64px;
}
h2 {
  font-family: Playwrite US Modern;
  color: rgba(17, 58, 139, 1);
  text-align: center;
}

p {
  font-family: Klee One;
  color: rgba(17, 58, 139, 1);
  text-align: center;
  padding: 30px;
}

.cv {
  font-family: Klee One;
  color: rgba(17, 58, 139, 1);
  text-align: center;
  padding: 20px;
}

.cv li {
  list-style: none;
}

.underoverskrift {
  font-family: Klee One;
  font-size: 32px;
  text-align: center;
  color: rgba(17, 58, 139, 1);
}

footer {
  background-color: rgba(186, 170, 47, 1);
  font-weight: bolder;
}

/* fonte */
.playwrite-us-modern {
  font-family: "Playwrite US Modern", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.klee-one-regular {
  font-family: "Klee One", serif;
  font-weight: 400;
  font-style: normal;
}
